body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f38484;
}

.container {
    display: flex;
    min-height: 100vh;
}

.image-side {
    flex: 1;
    background-image: url('smoothie-machine.jpg'); 
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.form-side {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#order-summary {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
